/*formatação do corpo da página*/
body {
  font: 1em/150% arial, verdana, sans-serif;
}

h1 {font-size: 36px/100%;}

.texto {padding:2%;}

article {
  background-color: #ADD8E6;
}

aside {
  background-color: #87CEEB;
}

footer {
  background-color: #87CEFA;
}

.troca, header, article, aside, footer {
  border: solid 1px #ccc;
}
